.full-screen-menu
  .full-screen-menu__wrapper
    .full-screen-menu__left
    .full-screen-menu__right
    ul.full-screen-menu__list
      -
        var menu = [
          {
            title: 'Мои работы',
            href: 'my-works.html'
          },
          {
            title: 'Обо мне',
            href: 'about.html'
          },
          {
            title: 'Блог',
            href: 'blog.html'
          },
          {
            title: 'Авторизация',
            href: 'https://olesia-sev.github.io/portfolio/build/'
          },
        ]
      for i in menu
        li.full-screen-menu__item
          a.menu-link(href= i.href) #{i.title}
