block variables
  -var hero = 'Личный сайт веб-разработчика'

header.section.hero
  .scroll-parallax(data-parallax="scroll", data-image-src="assets/images/pages-bg.jpg", data-speed=0.3)
    //- - for (var i = 1; i < 11; i++)
    //-   .scroll-parallax__layer
    //-     img.scroll-parallax__img(src=`assets/images/parallax/layer_0${i}.png`, alt="фоновое изображение")
  .hero__socials
    ul.socials
      - 
        var socials = [
          {
            icon: 'assets/images/icons.svg#vk',
            title: 'ВКонтакте',
            linkClassName: 'vk',
            href: 'https://vk.com/olesia_sev'
          },
          {
            icon: 'assets/images/icons.svg#github',
            title: 'GitHub',
            linkClassName: 'GitHub',
            href: 'https://github.com/olesia-sev'
          },
          {
            icon: 'assets/images/icons.svg#in',
            title: 'LinkedIn',
            linkClassName: 'LinkedIn',
            href: 'https://www.linkedin.com/in/olesia-sevostianova-929793100/'
          },
        ]
      for pic in socials
        li.socials__items
          a.socials__link(
            href= pic.href,
            title= pic.title
          )
            svg.socials__svg-icon
              use(xlink:href= pic.icon)
  .hero__burger-menu
    .burger-menu__line-1
    .burger-menu__line-2
    .burger-menu__line-3
  .hero__title
    svg.hero-title--pic
      use(xlink:href= 'assets/images/icons.svg#portfolio_header').hero-title--svg
  .user.hero__user(data-parallax="scroll", data-speed=0.2)
    .user__pic
      img(src="assets/images/avatar.jpg", alt="").user__pic-img
    .user__description
      .user__name Олeся Севостьянова
      .user__info #{hero}
  .hero__scroll-down
  