ul.skills-list
  li.skills-list__item
    .skills-list__row
      .skills-list__row-title Frontend
    ul.skills-row
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-85
          .skill-title HTML5
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-75
          .skill-title CSS3
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-25
          .skill-title JavaScript & JQuery
  li.skills-list__item
    .skills-list__row
      .skills-list__row-title Backend
    ul.skills-row
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-15
          .skill-title PHP
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-10
          .skill-title mySQL
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-25
          .skill-title Node.js & npm
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-5
          .skill-title Mongo.db
  li.skills-list__item
    .skills-list__row
      .skills-list__row-title Workflow
    ul.skills-row
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-45
          .skill-title Git
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-15
          .skill-title Gulp
      li.skills-row__item
        .skill
          svg.skill-circle.circles(viewBox='0 0 110 110')
            circle(r="45" cx="50%" cy="50%" fill="none").circle__first 
            circle(r="45" cx="50%" cy="50%"  transform="rotate(-90 55 55)").circle__second.circle-10
          .skill-title Bower