extends ../template

block variables
  -var = 'Блог'

block content
  h1 Блог
  ul
    li
      h2 Заголовок статьи
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, voluptatibus nihil? Magnam, quas. Libero eveniet, itaque ab assumenda impedit voluptatibus, nostrum molestiae, doloribus voluptas exercitationem sit quidem nihil odit distinctio?
    li
      h2 Заголовок второй статьи
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem distinctio est fugit, tenetur expedita recusandae deserunt numquam
    li
      h2 Третья статья
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tempore deserunt nihil, fugit, id placeat, nam esse suscipit omnis temporibus minus necessitatibus voluptas. Quo molestias nostrum similique, alias harum numquam.Architecto tempore iure, corrupti quae voluptate suscipit eligendi laudantium quos exercitationem, provident facere similique neque! Aliquid, sunt. Ex deserunt quo velit exercitationem, pariatur repudiandae nulla quibusdam? Dolorem magnam nulla consequuntur.Quas, in nobis praesentium corporis blanditiis ab saepe eaque earum eius tenetur odit reprehenderit totam consequatur fuga perspiciatis assumenda ipsam magnam enim. Non ut ipsum culpa accusantium commodi dicta sunt.
  