block variables

<!DOCTYPE html>
html(lang="RU-ru")
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge,chrome=1" http-equiv="X-UA-Compatible")
    block title
    link(rel="shortcut icon" href="assets/images/fav_mount.png" type="image/png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="assets/styles/app.min.css")
  body
    .preloader#preloader(style="background-image: url(assets/images/preloader/bg.jpg);")
      .preloader__svg-cont
        svg.preloader__svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve")
          circle.circle_1(opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" enable-background="new" cx="72" cy="71.999" r="70")
          circle.circle_2(opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new" cx="72" cy="72" r="55")
          circle.circle_3(fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40")
          text.preloader__text#preloader__text(transform="matrix(1 0 0 1 51.5391 79.0127)" fill="#FFFFFF" font-family="'ArialMT'" font-size="24") 0%
    block content
    script(
      src="https://code.jquery.com/jquery-3.2.1.min.js",
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
      crossorigin="anonymous"
    )
    script(src="assets/scripts/jquery.sticky.js")
    script(src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTra4xCaEnsFJbNKtLikYUvJZ39GZ9nyo&callback=initMap")
    //script(src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript")
    script(src="assets/scripts/app.js")