// resolutions
$desktop: 1200px;
//$laptop: 992px;
$tablets: 768px;
$phones: 480px;

@import 'normalize';
@import '_misc/fonts';
@import '_misc/mixins';

//colors
$black: #373e42;
$grey: #455a64;
$green: #009688;
$light: #00bfa5;

html {
  height: 100vh;
  min-width: 300px;
}

body {
  height: 100vh;
  min-width: 300px;
  position: relative;
  margin: 0;
  padding: 0;
  background: #fff;
}

ul {
  padding: 0;
  margin: 0;
} 

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  // height: 100%;
  position: relative;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  //height: 100vh;
  position: relative;
}


@import 'common/burger_menu';
@import 'common/socials';
@import 'common/hero';
@import 'common/about';
@import 'common/footer';
@import 'common/blog';
@import 'common/welcome';
@import 'common/my-works';
@import 'common/slider';
@import 'common/skills';

