.about {
  position: relative;
  //height: 100vh;
  display: flex;

  @include tablets {
    flex-direction: column;
  }
}

.about__left {
  width: 50%;
  background-color: #efeee9;
  display: flex;
  flex-direction: row;

  @include tablets {
    min-height: 768px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include phones {
    min-height: 697px;
  }
}

.about__left-title {
  width: 50%;
}

.about__left-content {
  width: 50%;
  margin-right: 49px;

  @include phones {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
}

.about__right {
  width: 50%;
  background-color: #eeebdf;

  @include tablets {
    min-height: 768px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include phones {
    padding-top: 30px;
  }
}

.about__right-text {
  margin-left: 20px;

  @include phones {
    margin: 0;
  }
}

.about__right-content {
  margin-left: 20px;

  @include phones {
    margin: 0;
  }
}

.block-title {
  font-family: bernier_regular;
  font-weight: 400;
  font-size: 63px;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @include phones {
    font-size: 35px;
  }
}

.user-description__img {
  //width: 440px;
  height: 400px;
}

.user-description__title, .block-subtitle {
  font-family: bernier_regular;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  color: $grey;
  text-align: center;
}

.block-subtitle {
  @include phones {
    font-size: 21px;
  }
}

.text-content {
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  color: $grey;

  @include phones {
    font-size: 14px;
    padding: 10px;
  }
}

.map {
  position: relative;
  height: 100vh;
  background-color: $green;

  @include tablets {
    min-height: 768px;
    height: 100%;
    width: 100%;
  }
}

.contacts {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 290px;
  background-color: rgba(#fff, .7);
  border-radius: 5px;
  z-index: 5;

  &__title {
    margin-top: 35px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 151px;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 28px;
  }
}

.contacts__svg-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contacts__item, .contacts__link {
  color: $grey;
}
