.hero__burger-menu {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  width: 40px;
  height: 35px;
}

.burger-menu {
  width: 40px;
  height: 5px;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.4);

    &::before {
      content: "";
      width: 40px;
      height: 5px;
      position: absolute;
      bottom: -28px;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.4);
    }

    &::after {
      content: "";
      width: 40px;
      height: 5px;
      position: absolute;
      top: 14px;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.4);
    }
}