.hero__socials {
  position: absolute;
  top: 35px;
  left: 30px;
  display: flex;
  flex-direction: row;

  @include phones {
    top: 12px;
    left: 10px;
  }
}

.socials {
  display: flex;
  width: 110px;
  height: 30px;
  align-items: baseline;
  margin: 0;
  padding: 0;

  &__items {
    list-style: none;
    margin-right: 15px;
  }

  &__svg-icon {
    width: 31px;
    height: 22px;
    fill: #fff;
    opacity: .6;
    transition: opacity .3s;

    @include phones {
      width: 25px;
      height: 14px;
    }
  }

  &__svg-icon:hover {
    opacity: 1;
  }
}


